/* Containers for Spinners */
.Centralizer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.Fixed-Centralizer-container, .Absolute-Centralizer-container {
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 9999;
}

.Fixed-Centralizer-container {
    position: fixed;
}

.Absolute-Centralizer-container {
    position: absolute;
}

.Opacity-Container {
    background-color: rgba(128, 128, 128, 0.3);
}